**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.yaml
*.yml
*.gz
*.sh
*.pth
*.pkl
*.zip
*.bin
*.png 
bev_[0-9]*_[0-9]*.png
bev_[0-9]*_[0-9]*.txt
bev_val_[0-9]*.png
bev_val_[0-9]*.txt
*.json
*.txt
*.tar.gz
*backup.yml
output
version.py