**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.yaml
*.yml
*.gz
*.sh
*.pth
*.pkl
*.zip
*.bin
*.png 
*.txt
bev_[0-9]*_[0-9]*.png
bev_[0-9]*_[0-9]*.txt
bev_val_[0-9]*.png
bev_val_[0-9]*.txt
*.json
*.txt
*.tar.gz
*backup.yml
output
version.py
lidar2bev/master_thesis/kitti/train/bev_annos/
lidar2bev/master_thesis/kitti/train/bev_images_default/
lidar2bev/master_thesis/kitti/train/bev_images_interpolated/
lidar2bev/master_thesis/kitti/train/bev_images_upsampled/
lidar2bev/master_thesis/kitti/val/bev_annos/
lidar2bev/master_thesis/kitti/val/bev_images_default/
lidar2bev/master_thesis/kitti/val/bev_images_densified/
lidar2bev/master_thesis/kitti/val/bev_images_interpolated/
lidar2bev/master_thesis/kitti/val/val_gt_data/
lidar2bev/master_thesis/kitti/val/bev_images_upsampled/